.test3{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    color: hsl(125, 40%, 17%);
    font-size: 20px;
    margin: 10px;
}

h3{
    color: crimson;
}
.text
.button{
    margin-top: 10px;
}