.Heder {
    width: 100%;
    margin: 0 auto;
    grid-area: Heder;
    background: #9f9ffa;
    top: 100px;
    height: auto;
    min-height: 35px;
  }


  
  .Heder.Heder img {
    
    margin: 0 auto;
    width: 200px;
    align-items: center;
  }
  