.BlokFoto{
    margin: 0 auto;
    grid-area: BlokFoto;
    text-align: center;
    background: #f3afd1;
    height: auto;
    min-width: 150px;
    text-transform: uppercase;
    padding: 10px 10px;
}
