.BlokFoto{
   
    margin: 0 auto;
    grid-area: BlokFoto;
    text-align: center;
    background: #f3afd1;
    height: auto;
    min-width: 250px;
    text-transform: uppercase;
    padding: 10px 10px;
}
.BlokFoto img{
    width: 100px;
}