.BlokFoto{
    
    margin: 0 auto;
    grid-area: BlokFoto;
    text-align: center;
    background: rgb(191, 213, 250);
    height: auto;
    width: 250px;
    text-transform: uppercase;
    padding: 5px 5px ;
    padding-right: 5px;
}
.BlokFoto img{
    width:120px;
}
.BlokFoto img:hover{
    width:500;

}